p,
h3 {
    margin-left: 5px;
}

.tweet {
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 5px;
    min-height: 57px;
}

input[type=textarea] {
    min-height: 30px;
    min-width: 393px;
    margin-top: 5px;
}

.tweet-preview {
    min-height: 150px;
}